:root {
  --bg-color-1: rgb(255, 255, 255);
  --bg-color-2: rgba(245, 245, 245, 0.233);
  --bg-color-3: rgba(230, 230, 230);
  --main-font-color: rgb(0, 0, 0);
  --alt-font-color: rgb(25, 25, 25);
  --alt-font-color-2: #F861FF;
  --theme-primary: rgba(233, 11, 121, 1);
  --alt-bg-color-1: black;

}

 [data-theme="dark"] {
  --bg-color-1: #030303;
  --bg-color-2: #4d4b4b;
  --bg-color-3: #262626;
  --main-font-color: #52FF8E;
  --alt-font-color: #F861FF;
  --alt-font-color-2: rgb(255, 14, 14);
  --theme-primary: #FFDA2F;
  --alt-bg-color-1: white;
}
