:root {
  --bg-color-1: rgb(255, 255, 255);
  --bg-color-2: rgba(245, 245, 245);
  --bg-color-3: rgba(230, 230, 230);
  --main-font-color: rgb(0, 0, 0);
  --alt-font-color: rgb(25, 25, 25);
  --theme-primary: rgba(233, 11, 121, 1);
  --theme-primary-gradient: linear-gradient(
    90deg,
    rgba(233, 11, 121, 1) 0%,
    rgba(242, 106, 88, 1) 100%
  );
}

 [data-theme="dark"] {
  --bg-color-1: #030303;
  --bg-color-2: #141414;
  --bg-color-3: #262626;
  --main-font-color: #52FF8E;
  --alt-font-color: #F861FF;
  --theme-primary: #FFDA2F;
}
