[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipdb = "0.13.9"
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
sqlalchemy-serializer = "*"
flask-restful = "*"
flask-cors = "*"
faker = "*"
python-decouple = "*"
flask-marshmallow = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
python-dotenv = "*"
psycopg2 = "*"
psycopg2-binary = "*"
gunicorn = "*"
ipython = "*"

[requires]
python_full_version = "3.8.13"
