[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipdb = "0.13.9"
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "3.1.0"
sqlalchemy-serializer = "*"
flask-restful = "0.3.10"
flask-cors = "4.0.0"
faker = "*"
python-dotenv = "*"
psycopg2-binary = "*"
ipython = "*"
flask-bcrypt = "*"
werkzeug = "==2.2.2"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
sqlalchemy = "*"

[requires]
python_full_version = "3.11.4"
