[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipdb = "0.13.9"
flask = "2.2.2"
flask-sqlalchemy = "*"
flask-migrate = "3.1.0"
sqlalchemy-serializer = "1.4.1"
flask-restful = "0.3.10"
flask-cors = "4.0.0"
faker = "*"
python-decouple = "*"
flask-marshmallow = "0.14.0"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
python-dotenv = "*"
psycopg2-binary = "*"
gunicorn = "21.2.0"
ipython = "*"
flask-bcrypt = "*"
honcho = "*"
werkzeug = "==2.2.2"

[requires]
python_full_version = "3.8.13"
