.app {
  color: var(--main-font-color);
  background-color: var(--bg-color-1);
  font-size: large;
  font-weight: bold;
  padding: 20px;
  height: calc(100vh - 40px);
  transition: all .5s;
}
.app button {
  color: var(--main-font-color);
  background-color: var(--background);
  border: 2px var(--text-primary) solid;
  float: right;
  transition: all .5s;
}