.login-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
    opacity: 0;
    transform-origin: center;
    transform: scale(0.5);
    transition: opacity 0.3s, transform 0.3s;
    animation: borderAnimation 5s infinite alternate;
  }
  
  @keyframes borderAnimation {
    0% {
      border-color: #ccc;
    }
    25% {
      border-color: #3498db;
    }
    50% {
      border-color: #e74c3c;
    }
    75% {
      border-color: #2ecc71;
    }
    100% {
      border-color: #ccc;
    }
  }
  
  .login-popup.show {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  
  .popup-content {
    max-width: 400px;
    margin: 0 auto;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s, transform 0.3s;
  }
  
  .login-popup.show .popup-content {
    opacity: 1;
    transform: translateY(0);
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s, transform 0.3s;
  }
  
  .login-popup.show label {
    opacity: 1;
    transform: translateY(0);
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s, transform 0.3s;
  }
  
  .login-popup.show input {
    opacity: 1;
    transform: translateY(0);
  }
  
  .login button {
    align-content: center;
    padding: 10px 15px;
    border-style: ridge;
    border-radius: 4px;
    cursor: auto;
    opacity: 1;
    transform: translateY(-20px);
    transition: opacity 0.3s, transform 0.3s;
  }
  
  .login-popup.show button {
    opacity: 1;
    transform: translateY(0);
  }
  
  button:hover {
    background-color: #45a049;
  }
  