.navbar {
  background-color: var(--bg-color-1);
  color: var(--alt-font-color-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 5px 5px #4d4b4b;
  border-color: #007bff;
  border-radius: 5px;
  align-content: center;
  flex-direction: row-reverse;
}

nav {
  display: flex;
  flex-direction: column;
  word-spacing: 5px;
  justify-content: space-between;

  align-items: center;
  width: 250px;
  align-items: flex-start;
}
nav a {
  padding-top: 10px;
}
nav a:visited {
  color: purple;
}

nav a:hover {
  color: #ff6600;
}

nav a.active {
  font-weight: bold;
  color: #007bff;
}
.toggle-theme-wrapper {
  display: flex;
  flex-direction: row;
  float: right;
  align-items: center;
  gap: 2px;
}

.toggle-theme-wrapper span {
  font-size: 15px;
}

.toggle-theme {
  position: relative;
  display: inline-block;
  height: 18px;
  width: 40px;
}

.toggle-theme input {
  display: none;
}

.slider {
  background-color: black;
  position: absolute;
  cursor: pointer;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: aqua;
  bottom: 0px;
  content: '';
  height: 18px;
  left: 0px;
  position: absolute;
  transition: 0.4s;
  width: 18px;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

input:checked + .slider {
  background-color: white;
}

.slider.round {
  border-radius: 35px;
}

.slider.round:before {
  border-radius: 50%;
}
